site_name: Le contexte CUB Frankfurt - Esteban TOUZET & Joris TEXIER
site_url: https://estebantouzet.github.io/frankfurt
copyright: © 2025 — Esteban Touzet & Joris Texier

theme:
  name: material
  logo: ./media/logo.png
  favicon: ./media/favicon.png
  language: fr

  features:
    - navigation.footer
    - content.code.copy

  palette:
    - scheme: default
      primary: teal
      accent: teal
    - scheme: slate
      primary: teal
      accent: teal
      toggle:
        icon: material/weather-night
        name: Basculer en mode sombre

markdown_extensions:
  - admonition
  - tables
  - footnotes
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.tabbed:
      alternate_style: true

plugins:
  - search
