site_name: Le contexte CUB Frankfurt - Esteban TOUZET & Joris TEXIER
site_url: https://estebantouzet.github.io/frankfurt
copyright: © 2025 — Esteban Touzet & Joris Texier

theme:
  name: material
  logo: ./media/logo.png
  favicon: ./media/favicon.png
  language: fr
  features:
    - navigation.footer
    - content.code.copy

markdown_extensions:
  - admonition
  - tables
  - footnotes
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.tabbed:
      alternate_style: true

plugins:
  - search
